
span.dots {
  color: darkblue;
}

table#dataView {
  width: 80%;
}

table.dataFields {
  padding-left: 5em;
}

tr.hidden {
  visibility: collapse;
}

tr.warning {
  background-color: tomato;
}

th.signal-type, th.signal-sender, th.signal-frequency, th.signal-name {
  min-width: 50px;
}

th.signal-timestamp {
  min-width: 100px;
}

td.field-name {
  min-width: 200px;
}

td.field-plot {
  min-width: 300px;
}

  #box {
      margin:0 auto; 
      width: 450px; 
      background-color: none;
      border-radius: 15px;
      padding: 15px;
      transition: 1s linear;
      flex: 3;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }

    #box li {
      width: 120px;
      float: left;
      text-decoration: none;
      list-style: none;
      text-align: center;
      color: white;
      background-color: coral;
      -webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.15);
      moz-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.15);
      box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.15);
      font-size:24px;
      transition: 0.11s ease-in-out;
      margin: 5px;
      padding: 6px 8px;
      border-radius: 5px;
    }

    #status {
      width: 60px;
      height: 60px;
      background-color: black;
      border-radius: 100%;
      margin: 30px auto;
    }

    #content-wrapper {
    	flex: 2;
    	display: flex;
    	justify-content: flex-start;
    	flex-wrap: wrap;
    	flex-grow: all;
    }

    .wrapper {
    	width: 49.5vw;
    	height: 49.5vh;
    }

    body, .wrapper {
        background-color: lightblue;
    }

  li:hover > input {
    height: auto;
    width: 100%;
  }

  li input {
    height: 5px;
    width: 5px;
    transition: 0.26s ease-in-out;
  }

  canvas {
    width: 400px;
    margin-left: 2.5%;
    margin-top: 2.5%;
  }

.table td, .table th {
    padding: .25rem;
  }